.navbar-brand{
    font-size: 40px;
   }
  
   .nav-item{
    font-size: 19px;
    padding-bottom:5px;
    margin-left:10px;
     
   }
  
 
.css-button-shadow-border--rose {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
    background: #ff0a78;
  }
  .css-button-shadow-border--rose:hover {
    background-color: #ff6392;
  }
  .css-button-shadow-border--rose:active {
    top: 2px;
  }


.cuadrado{
    background: rgba( 255, 255, 255, 0.2 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );

}

.card {
    width: 190px;
    height: 254px;
    background: #07182E;
    position: relative;
    display: flex;
    place-content: center;
    place-items: center;
    overflow: hidden;
    border-radius: 20px;
    margin-left:10px
  }
  
  .card h2 {
    z-index: 1;
    color: white;
    font-size: 2em;
  }
  
  .card::before {
    content: '';
    position: absolute;
    width: 100px;
    background-image: linear-gradient(180deg, rgb(0, 183, 255), rgb(255, 48, 255));
    height: 130%;
    animation: rotBGimg 3s linear infinite;
    transition: all 0.2s linear;
  }
  
  @keyframes rotBGimg {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }
  
  .card::after {
    content: '';
    position: absolute;
    background: #07182E;
    ;
    inset: 5px;
    border-radius: 15px;
  }  
  /* .card:hover:before {
    background-image: linear-gradient(180deg, rgb(81, 255, 0), purple);
    animation: rotBGimg 3.5s linear infinite;
  } */


  /* From uiverse.io by @AqFox */
.spinner {
    width: 44px;
    height: 44px;
    animation: spinner-y0fdc1 2s infinite ease;
    transform-style: preserve-3d;
    margin-left:25px;
    
   }
   
   .spinner > div {
    background-color: rgba(0,77,255,0.2);
    height: 100%;
    position: absolute;
    width: 100%;
    border: 2px solid #004dff;
   }
   
   .spinner div:nth-of-type(1) {
    transform: translateZ(-22px) rotateY(180deg);
   }
   
   .spinner div:nth-of-type(2) {
    transform: rotateY(-270deg) translateX(50%);
    transform-origin: top right;
   }
   
   .spinner div:nth-of-type(3) {
    transform: rotateY(270deg) translateX(-50%);
    transform-origin: center left;
   }
   
   .spinner div:nth-of-type(4) {
    transform: rotateX(90deg) translateY(-50%);
    transform-origin: top center;
   }
   
   .spinner div:nth-of-type(5) {
    transform: rotateX(-90deg) translateY(50%);
    transform-origin: bottom center;
   }
   
   .spinner div:nth-of-type(6) {
    transform: translateZ(22px);
   }
   
   @keyframes spinner-y0fdc1 {
    0% {
     transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
    }
   
    50% {
     transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
    }
   
    100% {
     transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
    }
   }


/*
.background--custom {
    background-color: #FFFFFF;
    width: 100vw;
    height: 100vh;
    position: absolute;
    overflow: hidden;
    z-index: -2;
    top: 0;
    left: 0;
  }
  canvas#canvas {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 60%;
    transform: rotate(-22deg) scale(2) translateY(-28%);
    --gradient-color-1: #ef008f; 
    --gradient-color-2: #6ec3f4; 
    --gradient-color-3: #7038ff;  
    --gradient-color-4: #ffba27;
    --gradient-speed: 0.000018;
  }*/

  @keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #3E1E68;
    overflow: hidden;
}

.background span {
    width: 20vmin;
    height: 20vmin;
    border-radius: 20vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 45;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #E45A84;
    top: 1%;
    left: 47%;
    animation-duration: 43s;
    animation-delay: -33s;
    transform-origin: -17vw 13vh;
    box-shadow: -40vmin 0 5.315249629799702vmin currentColor;
}
.background span:nth-child(1) {
    color: #583C87;
    top: 77%;
    left: 16%;
    animation-duration: 33s;
    animation-delay: -14s;
    transform-origin: 19vw 13vh;
    box-shadow: 40vmin 0 5.265060200726161vmin currentColor;
}
.background span:nth-child(2) {
    color: #FFACAC;
    top: 16%;
    left: 75%;
    animation-duration: 43s;
    animation-delay: -34s;
    transform-origin: -6vw -5vh;
    box-shadow: -40vmin 0 5.95478901938584vmin currentColor;
}
.background span:nth-child(3) {
    color: #E45A84;
    top: 62%;
    left: 23%;
    animation-duration: 33s;
    animation-delay: -13s;
    transform-origin: 16vw -3vh;
    box-shadow: 40vmin 0 5.3718000640621515vmin currentColor;
}
.background span:nth-child(4) {
    color: #FFACAC;
    top: 80%;
    left: 15%;
    animation-duration: 54s;
    animation-delay: -47s;
    transform-origin: 11vw -2vh;
    box-shadow: 40vmin 0 5.718354277779046vmin currentColor;
}
.background span:nth-child(5) {
    color: #583C87;
    top: 97%;
    left: 2%;
    animation-duration: 39s;
    animation-delay: -47s;
    transform-origin: -15vw -3vh;
    box-shadow: 40vmin 0 5.9834717088063005vmin currentColor;
}
.background span:nth-child(6) {
    color: #E45A84;
    top: 92%;
    left: 30%;
    animation-duration: 33s;
    animation-delay: -45s;
    transform-origin: 1vw 1vh;
    box-shadow: 40vmin 0 5.218490625981011vmin currentColor;
}
.background span:nth-child(7) {
    color: #583C87;
    top: 55%;
    left: 91%;
    animation-duration: 22s;
    animation-delay: -20s;
    transform-origin: 12vw -14vh;
    box-shadow: -40vmin 0 5.602920184785669vmin currentColor;
}
.background span:nth-child(8) {
    color: #583C87;
    top: 41%;
    left: 55%;
    animation-duration: 43s;
    animation-delay: -40s;
    transform-origin: -21vw -15vh;
    box-shadow: -40vmin 0 5.399809998912142vmin currentColor;
}
.background span:nth-child(9) {
    color: #FFACAC;
    top: 4%;
    left: 77%;
    animation-duration: 34s;
    animation-delay: -32s;
    transform-origin: -15vw -13vh;
    box-shadow: -40vmin 0 5.23186960344346vmin currentColor;
}
.background span:nth-child(10) {
    color: #E45A84;
    top: 21%;
    left: 46%;
    animation-duration: 33s;
    animation-delay: -10s;
    transform-origin: 1vw 2vh;
    box-shadow: 40vmin 0 5.390543867262731vmin currentColor;
}
.background span:nth-child(11) {
    color: #583C87;
    top: 85%;
    left: 47%;
    animation-duration: 48s;
    animation-delay: -45s;
    transform-origin: -7vw 10vh;
    box-shadow: -40vmin 0 5.016497487153009vmin currentColor;
}
.background span:nth-child(12) {
    color: #E45A84;
    top: 20%;
    left: 12%;
    animation-duration: 6s;
    animation-delay: -8s;
    transform-origin: 21vw 1vh;
    box-shadow: -40vmin 0 5.311231631769312vmin currentColor;
}
.background span:nth-child(13) {
    color: #E45A84;
    top: 93%;
    left: 13%;
    animation-duration: 49s;
    animation-delay: -43s;
    transform-origin: -10vw 10vh;
    box-shadow: -40vmin 0 5.962995177535943vmin currentColor;
}
.background span:nth-child(14) {
    color: #E45A84;
    top: 42%;
    left: 57%;
    animation-duration: 51s;
    animation-delay: -49s;
    transform-origin: -2vw -22vh;
    box-shadow: -40vmin 0 5.7833015559070695vmin currentColor;
}
.background span:nth-child(15) {
    color: #FFACAC;
    top: 59%;
    left: 53%;
    animation-duration: 28s;
    animation-delay: -32s;
    transform-origin: 7vw -18vh;
    box-shadow: -40vmin 0 5.30662023348386vmin currentColor;
}
.background span:nth-child(16) {
    color: #FFACAC;
    top: 78%;
    left: 100%;
    animation-duration: 48s;
    animation-delay: -45s;
    transform-origin: 7vw -5vh;
    box-shadow: -40vmin 0 5.715816652520973vmin currentColor;
}
.background span:nth-child(17) {
    color: #E45A84;
    top: 87%;
    left: 34%;
    animation-duration: 22s;
    animation-delay: -22s;
    transform-origin: 4vw 14vh;
    box-shadow: -40vmin 0 5.708592877432954vmin currentColor;
}
.background span:nth-child(18) {
    color: #E45A84;
    top: 15%;
    left: 41%;
    animation-duration: 28s;
    animation-delay: -29s;
    transform-origin: 1vw -24vh;
    box-shadow: -40vmin 0 5.7181003325542115vmin currentColor;
}
.background span:nth-child(19) {
    color: #E45A84;
    top: 33%;
    left: 21%;
    animation-duration: 43s;
    animation-delay: -20s;
    transform-origin: 17vw 25vh;
    box-shadow: -40vmin 0 5.111958528935342vmin currentColor;
}